{%extends 'all-news/base.html'%}
{% load bootstrap4 %}
{% block content %}
{{block.super}}

<div class="container" style="text-align: left;">

    <!-- Looping through news   -->
    {% for news_item in news %}
  
    <div class="row">
      <!-- displaying News articles -->
      <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
        <h2 class="" style="text-align: left;" > {{ news_item.title }} </h2>
        <hr>
      </div>
      <!--Display news Article images  -->
    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6" style="padding: 2%;">
      <img src="{{news_item.article_image.url}}" class="img-responsive" alt="Image" width="60%">
    </div>
      
  
    </div>
  
    {% empty %}
    <div class="container">
      <h2 class="" style="text-align: left; font-family: 'Yantramanav', sans-serif; font-size: 25px; font-weight: bold;">There No News Items</h2>
    </div>
    {% endfor %}
    <hr style="margin-top: 12%;">
    <div class="container text-center bg-light rounded shadow p-3" style="width: 50%; padding: 2%; margin-top: 2%; background: linear-gradient(288deg, rgba(36,171,222,1) 0%, rgba(93,226,151,1) 100%);">

      <form  action="{%url 'newsToday'%}" method="post">
        {%csrf_token%}
    
        {% bootstrap_form letterForm layout='inline' %}
        <input type="submit" value="Subscribe" class="btn btn-dark rounded rounded-pill center-block shadow-sm">
      </form>
    
    </div>  
  </div>

{% endblock %}